# dist file for Inspection
git      /extensions/Inspection            https://github.com/OpenEngineDK/extensions-Inspection.git
git-dev  /extensions/Inspection            git@github.com:OpenEngineDK/extensions-Inspection.git
